.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table, th, td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #007BFF;
  color: white;
}

.edit-btn {
  background-color: #2ca8fa;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.delete-btn {
  background-color: #dc3545;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.save-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
   background: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

/*.edit-form {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #b7baba;
  background: #a7dce3;
  border-radius: 5px;
}*/

.search-container {
  text-align: center; /* centers content */
  margin: 20px 0;
}

.search-container input {
  width: 40%; /* adjust width as you like */
  padding: 8px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 20px;
}

.refresh-btn {
  background-color: #28c3f2;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.refresh-btn:hover {
  background-color: #0fbdee;
}

.edit-form {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #908c8c;
  border-radius: 10px;
  width: 60%;
  background: #c3d7ff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.edit-form input {
  padding: 8px;
  border: 1px solid #9e9797;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}



