h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #4e73df;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.course-card {
  background: #ffffff;
  padding: 25px;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.course-card:hover {
  transform: scale(1.05);
}
.course-card h2 {
  color: #1cc88a;
  margin-bottom: 10px;
}
